<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/form.min.css">
</head>
<body>

    <div class="card">

        <h1 class="title">Add User</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/admin/customers/add" method="post">
            <div class="wrap_input">
                <input type="number" name="id_num" placeholder="Investor ID" class="tb">
            </div>
            <div class="wrap_input">
                <input type="text" name="name" placeholder="Full Name" class="tb">
            </div>
            <div class="wrap_input">
                <input type="text" name="nick_name" placeholder="Username" class="tb">
            </div>
            <div class="wrap_input">
                <input type="email" name="email" placeholder="E-mail" class="tb">
            </div>
            <div class="wrap_input">
                <input type="password" name="password" placeholder="Password" autocomplete="new-password" class="tb">
            </div>
            <div class="wrap_checkbox">
                <div class="checkbox_txt">Flag as admin</div>
                <input type="checkbox" name="is_admin" class="checkbox">
            </div>
            <!-- TODO verify password strength and match on client-side -->
            <input type="submit" value="Add User" class="btn">
        </form>

        <div class="go_back">
            <a href="/admin/manage_customers">
                Cancel
            </a>
        </div>
        
    </div>
    
</body>
</html>
