<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>The House Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/form.min.css">
    <style>
        .btn{
            width: 80%;
        }
        .less_margin{
            margin-top: 15px;
        }
    </style>

</head>
<body>

    <div class="card">

        <h1>Admin Dashboard</h1>

        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h3>you are logged in as {{user.name}}</h3>
        <div class="btn" onclick="window.location='/admin/manage_customers'">Customers</div>
        <div class="btn less_margin" onclick="window.location='/admin/company/shares/manage'">Company Shares</div>
        <div class="btn" onclick="window.open('/admin/db.sqlite3')">Clone DataBase</div>
        <div class="btn" onclick="window.location='/profile'">My Profile</div>
        <div class="btn less_margin" onclick="window.location='/logout'">Logout</div>
    </div>

</body>
</html>
