<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/form.min.css">
</head>
<body>

    <div class="card">

        <h1 class="title">Reset Customer Password</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="message">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="/admin/customers/reset_password/{{user.id}}" method="post">
            <div>
                <input type="text" name="id" value="User ID: {{user.id}}" class="tb" disabled>
            </div>
            <div class="wrap_input">
                <input type="password" name="new_password" placeholder="New password"  autocomplete="new-password" class="tb">
            </div>
            <!-- TODO verify password strength on client-side -->
            <input type="submit" value="Reset" class="btn">
        </form>

        <div class="go_back">
            <a href="/admin/customers/shares/manage/{{user.id}}">
                Cancel
            </a>
        </div>

    </div>

</body>
</html>